In [1]:
import pandas as pd

hosp_acute = pd.read_excel('HospitalList2020daFINAL.xlsx', sheet_name='Acute')
hosp_acute

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,ID,NAME,ADDRESS,CITY,STATE,ZIP,FIPS,CBSA 2020,RUCA Code,FORHP Rural/Urban 2020,SPECIAL PAYMENT,PHONE NUMBER,"CERTIFIED BEDS, POS","TOTAL BEDS, POS","BEDS, PSF","ACUTE BEDS, HCRIS"
0,10001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,1069.0,Metro,1,Urban,RRC,3347938701,420,420,330,342
1,10005,MARSHALL MEDICAL CENTERS SOUTH CAMPUS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,1055.0,Metro,5,Rural,RRC,2565938310,240,240,199,204
2,10006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,1077.0,Metro,1,Urban,RRC,2567688400,338,338,233,223
3,10007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,1039.0,Neither,7,Rural,MDH,3344933541,99,99,41,45
4,10008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,1041.0,Neither,3,Rural,NONE,3343353374,65,65,29,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4608,670125,TEXAS CENTER FOR INFECTIOUS DISEASE,2303 SE MILITARY DR P O BOX 23340,SAN ANTONIO,TX,78223,48029.0,Metro,1,Urban,NONE,2105348857,75,75,31,50
4609,670128,BAYLOR SCOTT & WHITE MEDICAL CENTER ? PFLUGERV...,2600 EAST PFLUGERVILLE PARKWAY,PFLUGERVILLE,TX,78660,48453.0,Metro,1,Urban,NONE,5126546100,25,25,24,25
4610,670129,THE HEIGHTS HOSPITAL,"1917 ASHLAND STREET, SUITE 300",HOUSTON,TX,77008,48201.0,Metro,1,Urban,NONE,7135746814,89,89,50,.
4611,670131,BAYLOR SCOTT & WHITE MEDICAL CENTER ? BUDA,5330 OVERPASS ROAD SUITE 110,BUDA,TX,78610,48209.0,Metro,1,Urban,NONE,7379996200,15,15,15,.
4612,670132,METHODIST SOUTHLAKE HOSPITAL,421 E STATE HIGHWAY 114,SOUTHLAKE,TX,76092,48439.0,Metro,1,Urban,NONE,8786544400,54,54,54,.

In [2]:
hosp_specialty = pd.read_excel('HospitalList2020daFINAL.xlsx', sheet_name='Specialty')
hosp_specialty

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,ID,NAME,ADDRESS,CITY,STATE,ZIP,FIPS,CBSA 2020,RUCA Code,FORHP Rural/Urban 2020,TYPE,PHONE NUMBER,"CERTIFIED BEDS, POS","TOTAL BEDS, POS","BEDS, PSF","ACUTE BEDS, HCRIS"
0,012006,INFIRMARY LTAC HOSPITAL,5 MOBILE INFIRMARY CIRCLE,MOBILE,AL,36607,1097,Metro,1.0,Urban,LTACH,2516605611,22,22,.,22
1,012007,"NOLAND HOSPITAL MONTGOMERY II, LLC",1725 PINE STREET 5TH FLOOR NORTH WING,MONTGOMERY,AL,36106,1101,Metro,1.0,Urban,LTACH,3342400532,65,65,.,65
2,012008,SELECT SPECIALTY HOSPITAL - BIRMINGHAM,"2010 BROOKWOOD MEDICAL CENTER DRIVE, 3RD FLOOR",BIRMINGHAM,AL,35209,1073,Metro,1.0,Urban,LTACH,2055994595,38,38,.,38
3,012009,"NOLAND HOSPITAL BIRMINGHAM II, LLC",50 MEDICAL PARK EAST DRIVE 8TH FLOOR,BIRMINGHAM,AL,35235,1073,Metro,1.0,Urban,LTACH,2058385100,45,45,.,45
4,012010,"NOLAND HOSPITAL DOTHAN II, LLC","1108 ROSS CLARK CIRCLE, 4TH FLOOR",DOTHAN,AL,36302,1069,Metro,1.0,Urban,LTACH,3346994300,35,35,.,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,673071,ENCOMPASS HEALTH REHABILITATION HOSPITAL OF KATY,23331 GRAND RESERVE DRIVE,KATY,TX,77494,48157,Metro,1.0,Urban,REHAB,2815053500,40,40,.,.
1375,673072,COBALT REHABILITATION HOUSTON HEIGHTS,"1917 ASHLAND ST, FL 4",HOUSTON,TX,77008,48201,Metro,1.0,Urban,REHAB,7138149100,35,35,.,.
1376,673073,EVEREST REHABILITATION HOSPITAL LONGVIEW,701 E LOOP 281,LONGVIEW,TX,75605,48183,Metro,1.0,Urban,REHAB,9035335379,36,36,.,36
1377,673074,EVEREST REHABILITATION HOSPITAL TEMPLE,23621 SE H.K. DODGEN LOOP,TEMPLE,TX,76504,48027,Metro,1.0,Urban,REHAB,2544100555,36,36,.,36
1378,713025,NORTH SHORE REHABILITATION HOSPITAL,"64030 HWY 434, 1ST AND 2ND FLOOR OF THE TOWER",LACOMBE,LA,70445,22103,Metro,1.0,Urban,REHAB,9852184660,30,30,.,.

In [3]:
hosp_specialty.columns

Index(['ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'FIPS', 'CBSA 2020',
       'RUCA Code', 'FORHP Rural/Urban 2020', 'TYPE', 'PHONE NUMBER',
       'CERTIFIED BEDS, POS', 'TOTAL BEDS, POS', 'BEDS, PSF',
       'ACUTE BEDS, HCRIS'],
      dtype='object')

In [4]:
hosp_acute.columns

Index(['ID', 'NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP', 'FIPS', 'CBSA 2020',
       'RUCA Code', 'FORHP Rural/Urban 2020', 'SPECIAL PAYMENT',
       'PHONE NUMBER', 'CERTIFIED BEDS, POS', 'TOTAL BEDS, POS', 'BEDS, PSF',
       'ACUTE BEDS, HCRIS'],
      dtype='object')

In [18]:
hosp_specialty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379 entries, 0 to 1378
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      1379 non-null   object
 1   NAME                    1379 non-null   object
 2   ADDRESS                 1379 non-null   object
 3   CITY                    1379 non-null   object
 4   STATE                   1379 non-null   object
 5   ZIP                     1379 non-null   int64
 6   FIPS                    1379 non-null   int64
 7   CBSA 2020               1379 non-null   object
 8   RUCA Code               1379 non-null   float64
 9   FORHP Rural/Urban 2020  1379 non-null   object
 10  TYPE                    1378 non-null   object
 11  PHONE NUMBER            1379 non-null   int64
 12  CERTIFIED BEDS, POS     1379 non-null   int64
 13  TOTAL BEDS, POS         1379 non-null   int64
 14  BEDS, PSF               1379 non-null   object
 15  ACUTE BEDS, HCRIS       1379 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 172.5+ KB

In [19]:
hosp_acute.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      4613 non-null   int64
 1   NAME                    4613 non-null   object
 2   ADDRESS                 4613 non-null   object
 3   CITY                    4613 non-null   object
 4   STATE                   4613 non-null   object
 5   ZIP                     4613 non-null   int64
 6   FIPS                    4612 non-null   float64
 7   CBSA 2020               4607 non-null   object
 8   RUCA Code               4613 non-null   object
 9   FORHP Rural/Urban 2020  4607 non-null   object
 10  SPECIAL PAYMENT         4613 non-null   object
 11  PHONE NUMBER            4613 non-null   int64
 12  CERTIFIED BEDS, POS     4613 non-null   int64
 13  TOTAL BEDS, POS         4613 non-null   int64
 14  BEDS, PSF               4613 non-null   object
 15  ACUTE BEDS, HCRIS       4613 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 576.8+ KB

## TODO

We should probably figure out why ID, RUCA Code, etc. are different types... and what those types mean.

In [5]:
hosp_specialty.TYPE.value_counts()

PSYCH               606
LTACH               358
REHAB               305
CHILDRENS            94
RELIGIOUS/NONMED     15
Name: TYPE, dtype: int64

In [6]:
hosp_acute['SPECIAL PAYMENT'].value_counts()

NONE       2079
CAH        1352
RRC         519
SCH         307
SCH/RRC     150
MDH         142
IHS          29
MDH/RRC      24
CANCER       11
Name: SPECIAL PAYMENT, dtype: int64

In [7]:
# Breakdown special payment by state... but how to do it?

'''
for state in hosp_acute['STATE'].unique():
    print(state)
    hosp_acute.loc[hosp_acute[hosp_acute['STATE']] == state]
    # .value_counts()
'''

"\nfor state in hosp_acute['STATE'].unique():\n    print(state)\n    hosp_acute.loc[hosp_acute[hosp_acute['STATE']] == state]\n    # .value_counts()\n"

In [8]:
# What's the overlap between dataframes?
# Experiment:
test1_df = pd.DataFrame({'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]})
test2_df = pd.DataFrame({'Name':['jack', 'krish'], 'Age':[18, 19]})

In [9]:
test2_df

    Name  Age
0   jack   18
1  krish   19

In [10]:
inner_join_df = test1_df.merge(test2_df, how='inner')
inner_join_df

    Name  Age
0  krish   19
1   jack   18

In [11]:
inner_join2_df = test2_df.merge(test1_df, how='inner')
inner_join2_df

    Name  Age
0   jack   18
1  krish   19

In [12]:
# Now that we know how to do this, let's apply to the hospitals.

In [13]:
hosp_specialty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379 entries, 0 to 1378
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      1379 non-null   object
 1   NAME                    1379 non-null   object
 2   ADDRESS                 1379 non-null   object
 3   CITY                    1379 non-null   object
 4   STATE                   1379 non-null   object
 5   ZIP                     1379 non-null   int64
 6   FIPS                    1379 non-null   int64
 7   CBSA 2020               1379 non-null   object
 8   RUCA Code               1379 non-null   float64
 9   FORHP Rural/Urban 2020  1379 non-null   object
 10  TYPE                    1378 non-null   object
 11  PHONE NUMBER            1379 non-null   int64
 12  CERTIFIED BEDS, POS     1379 non-null   int64
 13  TOTAL BEDS, POS         1379 non-null   int64
 14  BEDS, PSF               1379 non-null   object
 15  ACUTE BEDS, HCRIS       1379 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 172.5+ KB

In [14]:
hosp_acute.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      4613 non-null   int64
 1   NAME                    4613 non-null   object
 2   ADDRESS                 4613 non-null   object
 3   CITY                    4613 non-null   object
 4   STATE                   4613 non-null   object
 5   ZIP                     4613 non-null   int64
 6   FIPS                    4612 non-null   float64
 7   CBSA 2020               4607 non-null   object
 8   RUCA Code               4613 non-null   object
 9   FORHP Rural/Urban 2020  4607 non-null   object
 10  SPECIAL PAYMENT         4613 non-null   object
 11  PHONE NUMBER            4613 non-null   int64
 12  CERTIFIED BEDS, POS     4613 non-null   int64
 13  TOTAL BEDS, POS         4613 non-null   int64
 14  BEDS, PSF               4613 non-null   object
 15  ACUTE BEDS, HCRIS       4613 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 576.8+ KB

In [15]:
int_df = hosp_specialty.iloc[:,1:2].merge(hosp_acute.iloc[:,1:2], how='inner')
int_df

                     NAME
0  MOUNTAIN VIEW HOSPITAL
1  MOUNTAIN VIEW HOSPITAL
2         VALLEY HOSPITAL
3   ATRIUM MEDICAL CENTER
4       HIGHLAND HOSPITAL
5       HIGHLAND HOSPITAL

In [16]:
hosp_acute.iloc[:,:1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4613 entries, 0 to 4612
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      4613 non-null   int64
dtypes: int64(1)
memory usage: 36.2 KB

In [17]:
# Is there any overlap between acute and specialty? Use IDs to figure it out?

# int_df = pd.merge(hosp_acute.iloc[:,:1], hosp_specialty.iloc[:,:1], how ='inner')
int_df = pd.concat([hosp_specialty.iloc[:,:10], hosp_acute.iloc[:,:10]], join='inner', keys=['ID'])
int_df

             ID                                              NAME  \
ID 0     012006                           INFIRMARY LTAC HOSPITAL
   1     012007                NOLAND HOSPITAL MONTGOMERY II, LLC
   2     012008            SELECT SPECIALTY HOSPITAL - BIRMINGHAM
   3     012009                NOLAND HOSPITAL BIRMINGHAM II, LLC
   4     012010                    NOLAND HOSPITAL DOTHAN II, LLC
...         ...                                               ...
   1374  673071  ENCOMPASS HEALTH REHABILITATION HOSPITAL OF KATY
   1375  673072             COBALT REHABILITATION HOUSTON HEIGHTS
   1376  673073          EVEREST REHABILITATION HOSPITAL LONGVIEW
   1377  673074            EVEREST REHABILITATION HOSPITAL TEMPLE
   1378  713025               NORTH SHORE REHABILITATION HOSPITAL

                                                ADDRESS        CITY STATE  \
ID 0                          5 MOBILE INFIRMARY CIRCLE      MOBILE    AL
   1              1725 PINE STREET 5TH FLOOR NORTH WING  MONTGOMERY    AL
   2     2010 BROOKWOOD MEDICAL CENTER DRIVE, 3RD FLOOR  BIRMINGHAM    AL
   3               50 MEDICAL PARK EAST DRIVE 8TH FLOOR  BIRMINGHAM    AL
   4                  1108 ROSS CLARK CIRCLE, 4TH FLOOR      DOTHAN    AL
...                                                 ...         ...   ...
   1374                       23331 GRAND RESERVE DRIVE        KATY    TX
   1375                           1917 ASHLAND ST, FL 4     HOUSTON    TX
   1376                                  701 E LOOP 281    LONGVIEW    TX
   1377                       23621 SE H.K. DODGEN LOOP      TEMPLE    TX
   1378   64030 HWY 434, 1ST AND 2ND FLOOR OF THE TOWER     LACOMBE    LA

           ZIP   FIPS CBSA 2020  RUCA Code FORHP Rural/Urban 2020
ID 0     36607   1097     Metro        1.0                  Urban
   1     36106   1101     Metro        1.0                  Urban
   2     35209   1073     Metro        1.0                  Urban
   3     35235   1073     Metro        1.0                  Urban
   4     36302   1069     Metro        1.0                  Urban
...        ...    ...       ...        ...                    ...
   1374  77494  48157     Metro        1.0                  Urban
   1375  77008  48201     Metro        1.0                  Urban
   1376  75605  48183     Metro        1.0                  Urban
   1377  76504  48027     Metro        1.0                  Urban
   1378  70445  22103     Metro        1.0                  Urban

[1379 rows x 10 columns]